

.button {
  @apply flex flex-row items-center justify-center cursor-pointer rounded-2xl border-0 text-white transition-all duration-300 ease-in-out my-3 py-2 px-4 text-base lg:my-5 lg:py-3 lg:px-6 lg:text-lg
}

.button:hover {
  transform: translateY(-5px);
}

.button::-moz-focus-inner {
  border: 0;
}

.reverse {
  flex-direction: row-reverse;
}

.primaryBG {
  background: #B27800;
  background: linear-gradient(90.98deg, #493200 -43.78%, #B27800 73.04%, #FAAF57 131.21%);
  transition: all ease-in-out .3s;
  background-size: 150% auto;
}

.primaryBG:hover {
  box-shadow: 0 10px 20px -10px rgba(102, 69, 0, 0.6);
  background-position: right center;
}

.normalBG {
  background: #31324F;
}

.normalBG:hover {
  box-shadow: 0 10px 20px -10px rgba(54, 52, 73, 0.6);
}

.icon {
  margin-bottom: 0px;
  margin-right: 12px;
  margin-left: 0px;
}

.iconRight {
  margin-right: 0px;
  margin-left: 12px;
}

.full {
  width: 100%;
}