@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --trackColor:#131313;
  --thumbColor:#4B3F72;
  --white: #fff;
  --whitey: #E0E0E0;
  --whitey-darker: rgb(224, 224, 224);
  --black: #333;
  --tab-active-color: #ffc857;
  --stellar-dark: #B27800;
  --stellar-light: #ffc857;
  --border-radius: 40px;
  --underline-color: #121229;
  --underline-color2: #ffc857;
}

.container {
  @apply max-w-screen-xl mx-auto px-4;
}

/* original bg_gradient: , linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(75,63,114,1) 30%, rgba(31,32,65,1) 66%) */

body {
  background: url("../images/landscape.svg") no-repeat bottom center;
  background-size: contain; 
  background-color: #121229;
  scrollbar-color: var(--thumbColor) var(--trackColor) !important;
  scrollbar-width: auto;
  -webkit-scrollbar-color: var(--thumbColor) var(--trackColor) !important;
  -webkit-scrollbar-width: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-rendering: optimizeLegibility;
  @apply font-sans antialiased;
}

body::-webkit-scrollbar-track {
  background: var(--trackColor);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbColor) ;
  border-radius: 6px;
  border: 3px solid var(--trackColor);
}

/* Selection color */

::-moz-selection {
    color: #C4C4C4;
    background-color: var(--stellar-dark);
    -moz-text-fill-color: #C4C4C4;
}

::selection {
  color: #C4C4C4;
  background-color: var(--stellar-dark);
  -webkit-text-fill-color: #C4C4C4; 
}

/* basic typography */

p { 
  @apply text-base 2xl:text-xl py-2;
}

h1 {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl font-bold 
}

h2 {
  @apply text-xl sm:text-xl md:text-2xl lg:text-2xl 2xl:text-4xl font-normal mb-2
}

h3 {
  @apply text-lg sm:text-lg md:text-xl lg:text-xl 2xl:text-2xl font-normal
}




/* Headline gradient on Intro screen */

.textGradient {
  background-color: #f3ec78;
  background-image: linear-gradient(95deg, rgba(255,151,59,1) 0%, rgba(75,63,114,1) 70%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


/* Styling of the section headings */

.heading {
  background-image: linear-gradient(180deg, var(--underline-color) 85%, var(--underline-color2) 15%);
  background-image: -webkit-linear-gradient(270deg, var(--underline-color) 85%, var(--underline-color2) 15%);
  background-position-y: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  color:var(--whitey);
}


/* Fade underline on links */

a.fade_underlink {
  border-bottom: 2px solid rgba(217, 175, 89, 1);
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease; 
}
a.fade_underlink:hover {
  border-bottom: 2px solid rgba(217, 175, 89, 0);
}

/* active menu item */

nav > div.hidden.sm\:block > ul > a.active {
  @apply border-space text-stellar;
}

/* top-3 utility class - used in back button */

.top-3 {
  top: 3px;
}

.space-dark-shadow {
  -webkit-box-shadow: 0px 13px 40px 1px rgba(18,18,41,0.33); 
  box-shadow: 0px 13px 40px 1px rgba(18,18,41,0.33);
}

.img-height-regulator {
  height:20rem;
}

/* animation of the stars in the logo */


#logo {
  transform: translate(10%, 10%);
}

@keyframes starShine {
  0%, 90%, 100% {transform: scale(0.9)}
  95% {transform: scale(1.1)}
}

#Star1, #Star2, #Star3  {
  animation-name: starShine;
  animation-duration: 5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: scale(0.9);
  transform-origin: center;
}

#Star2 {
  animation-delay: 250ms;
}

#Star3 {
  animation-delay: 500ms;
}

/* tab component */

.arrowSize {
transform: translateY(15px);
}

.triangle {
  /*
	position: relative;
	text-align: left;
  top: 0.5em;*/
  margin: auto;
}

.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
	width:  1.6em;
	height: 1.6em;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.arrowMobile {
  top: 2px;
}

.arrowMobile > div {
  height: 2px;
}


.tab a {
  text-decoration: none;
  color: var(--whitey);
}

.tab svg {
  width: 36px;
  min-width: 36px;
  fill: var(--whitey);
  transition: fill 0.5s ease;
  margin: 0.3rem auto;
}

.tab.active::before {
  background: var(--tab-active-color);
}

.tab span {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  transition: color 0.5s ease;
}

.tab.active span {
  color: var(--tab-active-color);
}

.tab.active svg {
  fill: var(--tab-active-color);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* scrolling tab content on mobile */

.textboxMask {
  height: 450px;
  -webkit-mask-image: linear-gradient(transparent, rgba(0,0,0,1) 6% 90%,transparent);
  mask-image: linear-gradient(transparent, rgb(0, 0, 0) 6% 90%,transparent);
}

.textboxMask::-webkit-scrollbar-track {
  background: var(--trackColor);
}

.textboxMask::-webkit-scrollbar-thumb {
  background-color: var(--thumbColor) ;
  border-radius: 6px;
  border: 3px solid var(--trackColor);
}


/* card */

.cardArrow {
  width: 64px;
  height: 64px;
  fill: var(--stellar-light);
}


/* contact form*/



input[type="text"], input[type="email"], textarea  {
  font: 16px/26px "Lato", Arial, sans-serif; 
  color: var(--whitey-darker); 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
  resize: none;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus  {
  outline: none;
}

.effect-16 {
  border: 0;
  padding: 4px 0;
  background-color: transparent; 
}

.effect-16 ~ .focus-border {
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: var(--stellar-light); 
  transition: 0.4s;
}

  .effect-16 ~ .default-border {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 1px;
    z-index: -2; 
    background-color: var(--whitey-darker);
  }

.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border,
input:not(:placeholder-shown) ~ .focus-border,
textarea:not(:placeholder-shown) ~ .focus-border  {
  width: 100%; 
  transition: 0.4s;
}

.effect-16 ~ label {
  position: absolute; 
  left: 0; 
  width: 100%; 
  top: 9px; 
  color: var(--whitey-darker);
  transition: 0.3s; 
  z-index: auto; 
  letter-spacing: 0.5px;
}

.effect-16:focus ~ label, .has-content.effect-16 ~ label, input:not(:placeholder-shown) ~ label, 
textarea:not(:placeholder-shown) ~ label {
  top: -16px;
  font-size: 12px;
  color: var(--stellar-light);
  transition: 0.3s;
}

.form-label-align {
  top: -3px;
}

/* Scroll Up Button  */

.scrollTop {
  position: fixed; 
  width: 5%;
  bottom: 20px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  right: 10px;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -20px;
  }
  100% {
    opacity: 0.5;
    bottom: 20px;
  }
}

.copyIcon {
  fill: #aaa;
  outline: none;
  transition: all ease .2s;
}

.copyIcon:hover {
  fill: var(--stellar-light) ;
}

.socialBg {
  position: relative;
  bottom: 20px;
  z-index: 0;
  transform: scale(2);
}


/* responsive */


@screen sm {

  /*used in back button */
  .top-3 {
    top: 5px;
  }

.space-dark-shadow {
    -webkit-box-shadow: 0px 13px 40px 1px rgba(18,18,41,0.33); 
    box-shadow: 0px 13px 40px 1px rgba(18,18,41,0.33);
  }

.img-height-regulator {
  height:700px;
}

.tab-links {
  margin: 30px 0px 20px;
  list-style: none; 
  position: static;
  border-bottom: none;
  background-color: transparent;
}

.tab a {
  text-decoration: none;
  color: var(--whitey);
}

.tab span {
  font-weight: 700;
}


}

@screen md {
  .container {
    @apply px-6;
  }
}

@screen lg {
  .container {
    @apply px-16;
  }
}

